{% extends "base.html" %}

{% block content %}
    <h1>new post</h1>
      
    <form action="/newpost", method="POST">
        <p>title</p>
        
        <!--<textarea name="title" rows="1" cols="26">{{ title }}</textarea> -->
        <!--<input name="username" type="text" value='{{username}}' /> -->
        <!-- Was deleting title after 1st word, fixed with example from user signup^-->
        <input name="title" type="text" value='{{ title }}'>
        <p class='error'> {{ titleblank }} </p>
        
        <p>post</p>
        <textarea name="body" rows="16" cols="46">{{ body }}</textarea>
        <p class='error'> {{ bodyblank }} </p>

        <input type="submit" value= "Submit">  
    </form>
    
{% endblock %}